.FlagsContainer {
  display: flex;
  margin-left: auto;
}

.FlagSize {
  display: block;
  width: 15px;
  height: 12px;
  margin-left: 6px;
}
.Blue {
  height: 6px;
  background-color: blue;
}
.Yellow {
  height: 6px;
  background-color: yellow;
}
.Black {
  height: 4px;
  background-color: black;
}
.Red {
  height: 4px;
  background-color: red;
}

.YellowD {
  height: 4px;
  background-color: yellow;
}
