.ButtonContainer {
  display: none;
}
.Button {
  font-family: 'Poiret One';
  font-weight: 700;
  font-size: 14px;
  width: 30px;
  border: 1px solid;
  border-radius: 30px;
  cursor: pointer;
}
.ButtonActive {
  font-family: 'Poiret One';
  font-weight: 700;
  font-size: 12px;
  width: 30px;
  border: 1px solid teal;
  border-radius: 30px;
  color: teal;
  cursor: pointer;
}

.Button:hover,
.Button:focus {
  color: teal;
  border-color: teal;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .ButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80px;
  }
}
