@media screen and (min-width: 768px) {
  .MenuContainer {
    padding: 0px 40px;
  }
  .NavContainer {
    display: flex;
    padding-bottom: 10px;
    color: #0a5b81;
  }
  .NavButton {
    padding-right: 20px;
  }
}
